<section id="home-rent" class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <h1><span class="fa fa-legal"/> {{model.header}}</h1>
            <h4>{{model.message}}</h4>
            <h4>{{model.btnInfo}}</h4>
            <button class="btn btn-primary btn-lg" ng-link="['{{model.btnLink}}']">{{model.btnLabel}}</button>
        </div>
        <div class="col-md-4 hidden-xs">
            <img ng-src="{{model.image}}" alt="rent image" class="img-responsive">
        </div>
    </div>
</section>