<section id="our-clients" class="container">
    <header class="row">
        <div class="col-md-12">
            <h1><span class="fa fa-handshake-o"/> {{model.header}}</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <h4>{{model.message}}</h4>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="item in model.items" class="col-md-3 col-sm-4 col-xs-6">
            <a href="#" class="thumbnail">
                <img ng-src="{{item.image}}" alt="{{item.name}}" class="img-responsive">
            </a>
        </div>
    </div>
</section>