<section id="what-we-do" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><span class="fa fa-user-circle-o"/> {{model.header}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{model.message}}</h4>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="item in model.items" class="col-md-4 col-sm-6 col-xs-12">
            <div class="well">
                <h3 class="text-primary">{{item.header}}</h3>
                <p>{{item.message}}</p>
            </div>
        </div>
    </div>
</section>