<section id="contact-us" class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h1><span class="fa fa-map-marker"/> {{model.header}}</h1>
            <address>
                <strong>{{model.address.companyName}}</strong><br>
                {{model.address.street}}<br>
                {{model.address.zipCode}} {{model.address.city}}<br>
                <span class="fa fa-phone"/> {{model.address.phone}}<br>
            </address>
        </div>
        <div class="col-md-6 col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.218957733475!2d17.82378895173135!3d52.56565147972386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4704a2b1715b0dcd%3A0x76c749cf20484388!2sKo%C5%9Bciuszki+46A%2C+62-240+Trzemeszno!5e0!3m2!1spl!2spl!4v1493716864397" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>