<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                <span class="fa fa-globe"/> {{model.item.city}} - {{model.item.street}}
            </h4>
            <h5 class="modal-title">
                {{model.item.info}}
            </h5>
        </div>
        <div class="modal-body">
            <img class="img-responsive" ng-src="{{model.item.image}}" alt="{{model.item.street}}"/>
        </div>
    </div>
</div>