<div id="gallery-pagination" ng-if="model.isVisible()">
    <ul class="pagination">
        <li ng-class="{disabled: model.isPrevButtonDisabled()}">
            <a ng-click="model.goToPrevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in model.pages" ng-class="{active: model.isPageActive(page)}">
            <a ng-click="model.changePage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled: model.isNextButtonDisabled()}">
            <a ng-click="model.goToNextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>