<div id="gallery-filter" class="text-center">
    <h2><span class="fa fa-globe"/> Miasta</h2>
    <div class="btn-group btn-group-vertical hidden-xs">
        <button ng-repeat="city in model.cities"
                class="btn btn-primary"
                ng-class="{active: model.isCityActive(city)}"
                ng-click="model.onButtonClick(city)"
        >{{city}}</button>
    </div>
    <div class="btn-group visible-xs">
        <button ng-repeat="city in model.cities"
                class="btn btn-primary btn-lg"
                ng-class="{active: model.isCityActive(city)}"
                ng-click="model.onButtonClick(city)"
        >{{city}}</button>
    </div>
</div>