#gallery-grid-item,#gallery-list-item {
  .thumbnail {
    position:relative;
    overflow:hidden;
    cursor: pointer;

    .thumbnail-overlay {
      opacity: 0;
    }

    &:hover {
      .thumbnail-overlay {
        opacity: 1;
      }
    }
  }

  .thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    transition: opacity 0.75s;
  }

  .thumbnail-overlay-icon {
    font-size: 2.5em;
    height: inherit;
    transform: translateY(40%);
  }
}

#gallery-list-item {
  .thumbnail {
    margin-bottom: 0px;
  }
}

#gallery-pagination {
  li {
    cursor: pointer;
  }
}