#jumbotron {

  .jumbotron {
    margin-bottom: 0px !important;
    height: 500px;
  }

  .container {
    color: #555;
    margin-top: 150px;
  }

  .bottom-space {
    height: 30px;
    width: 100%;
  }
}