<div class="page">
    <what-we-do header="model.whatWeDo.header"
                message="model.whatWeDo.message"
                items="model.whatWeDo.items"
    ></what-we-do>
</div>
<mb-footer></mb-footer>