<div class="page">
    <our-clients header="model.ourClients.header"
                 message="model.ourClients.message"
                 items="model.ourClients.items"
    ></our-clients>
</div>
<mb-footer></mb-footer>