<div id="gallery-list-item" class="row well well-sm">
    <div class="col-md-3 col-sm-3 col-xs-3 thumbnail" ng-click="model.onItemClick()">
        <div class="caption thumbnail-overlay">
            <span class="text-primary glyphicon glyphicon-search thumbnail-overlay-icon"/>
        </div>
        <img class="img-responsive" ng-src="{{model.item.thumbnail}}" alt="{{model.item.street}}"/>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
        <h4><span class="fa fa-globe"/> {{model.item.city}} - {{model.item.street}}</h4>
        <p>{{model.item.info}}</p>
        <button class="btn btn-primary" ng-click="model.goToGoogleMaps()">
            <span class="fa fa-map-marker"/> <strong>Zobacz na google maps</strong>
        </button>
    </div>
</div>