<div id="gallery-grid-item">
    <div class="thumbnail" ng-click="model.onItemClick()">
        <div class="caption thumbnail-overlay">
            <span class="text-primary glyphicon glyphicon-search thumbnail-overlay-icon"/>
        </div>
        <img width="250" height="160" class="img-responsive" ng-src="{{model.item.thumbnail}}" alt="{{model.item.street}}"/>
    </div>
</div>
