<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-primary navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <h3 class="text-primary" ng-link="[Home]">MARPEK BIS</h3>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav" ng-link="['Home']" ng-class="{active: model.isPageActive('home')}">
                    <a><i class="fa fa-home"></i></a>
                </li>
                <li class="nav" ng-link="['Company']" ng-class="{active: model.isPageActive('company')}">
                    <a>O NAS</a>
                </li>
                <li class="nav" ng-link="['Clients']" ng-class="{active: model.isPageActive('clients')}">
                    <a>KLIENCI</a>
                </li>
                <li class="nav" ng-link="['Realizations']" ng-class="{active: model.isPageActive('realizations')}">
                    <a>REALIZACJE</a>
                </li>
                <li class="nav"  ng-link="['Rent']" ng-class="{active: model.isPageActive('rent')}">
                    <a>WYNAJEM</a>
                </li>
                <li class="nav" ng-link="['Contact']" ng-class="{active: model.isPageActive('contact')}">
                    <a>KONTAKT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>