<footer>
    <div class="container">
        <div class="col-md-12 pull-right">
            <span class="fa fa-copyright"></span>
            2017 {{model.address.companyName}}. All rights reserved.
            Created by <span class="text-primary">Zaklinacz kodu</span>.
        </div>
    </div>
</footer>