<div id="gallery" class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <gallery-filter cities="model.cities"
                            active-city="model.activeCity"
                            on-change="model.changeCityFilter(city)"
            ></gallery-filter>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <hr class="visible-xs">
            <div class="row">
                <div ng-if="model.isGrid()" class="col-md-4 col-sm-6 col-xs-6" ng-repeat="item in model.paginatedItems track by $index">
                    <gallery-grid-item item="item" on-click="model.onListItemClick(item)">
                    </gallery-grid-item>
                </div>
                <div ng-if="model.isList()" class="col-md-12" ng-repeat="item in model.paginatedItems track by $index">
                    <gallery-list-item item="item" on-click="model.onListItemClick(item)">
                    </gallery-list-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <gallery-pagination pages="model.pages"
                                        active-page="model.activePage"
                                        on-change="model.changePage(page)"
                    ></gallery-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<gallery-modal item="model.activeItem"
               class="modal fade"
               id="bigImageModal"
               tabindex="-1"
               role="dialog"
               aria-labelledby="bigImage"
>
</gallery-modal>