<jumbotron id="top-jumbotron"
           header="model.jumbotron.header"
           message="model.jumbotron.message"
           btn-link="Company"
           btn-label="model.jumbotron.btnLabel"
           image="model.jumbotron.image"
></jumbotron>
<what-we-do header="model.whatWeDo.header"
            message="model.whatWeDo.message"
            items="model.whatWeDo.items"
></what-we-do>
<hr>
<our-clients header="model.ourClients.header"
             message="model.ourClients.message"
             items="model.ourClients.items"
></our-clients>
<hr>
<home-rent header="model.homeRent.header"
           message="model.homeRent.message"
           btn-info="model.homeRent.btnInfo"
           btn-label="model.homeRent.btnLabel"
           btn-link="Rent"
           image="model.homeRent.image"
></home-rent>
<hr>
<contact-us header="model.contact.header"
            address="model.contact.address"
></contact-us>
<mb-footer></mb-footer>