h1 {
  margin-bottom: $h1MarginBottom;
}

h4 {
  margin-bottom: $h4MarginBottom;
}

hr {
  margin-bottom: $hrMarginBottom;
}

section {
  margin-bottom: $sectionMarginBottom;
}

footer {
  min-height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #474949;
}

.navbar-nav {

  .nav {
    cursor: pointer;

    a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: $headerHeight;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}

.navbar-header {
  h3 {
    cursor: pointer;
  }
}

.page {
  margin-top: $pageMarginTop;
  min-height: 1000px;
}
