<section id="jumbotron" >
    <div class="jumbotron hidden-xs" style="background-image: url({{model.image}})">
        <div class="container">
            <h1>{{model.header}}</h1>
            <p>{{model.message}}</p>
            <p><a class="btn btn-primary btn-lg" ng-link="['{{model.btnLink}}']">{{model.btnLabel}}</a></p>
        </div>
    </div>
    <div class="bottom-space bg-primary hidden-xs"></div>
</section>
